/* general */
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:azure;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'YS-Text', Arial, sans-serif;
    color: #272733;
}
.body-login {background-image: url(fons/login_bg.webp);}
.body-reg {background-image: url(fons/reg_bg.webp);}
.body-form {background-image: url(fons/form_bg.webp);}
.body-viewform {background-image: url(fons/viewform_bg.webp);}

.container {
    background-color: #ffffff;
    width: 500px;
    height: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    box-shadow: 8px 8px 32px 0px rgba(34, 60, 80, 0.2);
}
.form {
    width: 700px;
    height: 700px;
}
.form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
form {
    width: 100%;
}
input, select {
    border-radius: 20px;
    width: 100%;
    height: 42px;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 10px;
    background-color: #fff;
    border: 1px solid #d8dce6;
}
input::placeholder {
    color: #272733;
}
select {
    cursor: pointer;
}
button {
    border-radius: 10px;
    width: 100%;
    height: 42px;
    background-color: #292933 ;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0;
    cursor: pointer;
}
.logout-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    text-decoration: none;
    width: 100px;
}
.addon-btn {
    color: #292933;
    background-color: #f4f5f8;
}


/* form */
.fio-input {
    display: flex;
    gap: 10px;
    flex: 1 3 1;
}
.fio {
    border: 1px solid #d8dce6;
    border-radius: 16px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}


/* admin */
.form__admmin {
    width: 80%;
    height: 80%;
}
.form__wrapper__admmin {
    flex-direction: row;
    justify-content: space-between;
}